<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <form action="map" method="POST">
        <h1 class="heading">Generate a map</h1>
        <input
          required
          name="name"
          class="input"
          type="text"
          placeholder="name:"
        />
        <input type="text" name="count" class="input" placeholder="count: " />
        <button type="submit" class="btn">Generate</button>
      </form>
    </div>
  </body>
</html>
